<div class="modal fade" id="ballotBoxCountDialog" role="dialog">
	<div class="modal-dialog">    
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Editing Count Value For Ballot Box {{ballotValue}}.</h4>
	        </div>
	        <div class="modal-body">
				<form>
					<div class="form-group form-group-sm">
						<label for="countValue">Count Value:</label>
						<input id="countValue" value='{{count}}' placeholder="Enter New Count Value" class="form-control" >
					</div>
				</form>        
			</div>
	        <div class="modal-footer">
	        	{{#if update}}
				<button id="ballotBoxCountEditBtn" type="submit" class="btn btn-default btn-sm" data-dismiss="modal">Edit</button>
				{{else}}	        
   					<button id="ballotBoxCountAddBtn" type="submit" class="btn btn-default btn-sm">Add</button>
					<button id="ballotBoxCountAddAndCloseBtn" type="submit" class="btn btn-default btn-sm" data-dismiss="modal">Add and Close</button>
				{{/if}}	        
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>	        	        
	        </div>
		</div>      
	</div>
</div>
	