<div id="countDialog" class="modal fade" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">		
				<button type="button" class="close" data-dismiss="modal">&times;</button>										
				<span class="logo-medium">Count</span>
			</div>															
			<div class="modal-body">
				<form>
				{{#each candidates}}
					<div class="form-group form-group-sm">
						<label for="votes">{{{formatName(firstName,surname)}}}</label>
						<input id="votes" value='{{votes}}' class="form-control">
					</div>
				{{/each}}
				</form>  				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm" id="saveBtn" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>