<div id="home" class="tab-pane fade in active">
  	<ul class="breadcrumb">
		<li><a href="#">Dashboard</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{electionData[selectedElection].name}}<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="#" data-electionId="1">Election 1</a></li>
				<li><a href="#" data-electionId="2">Election 2</a></li>
			    <li><a href="#" data-electionId="3">Election 3</a></li>
			</ul>
		</li>
	</ul>
	<div class="row">
		<div class="col-lg-6 col-md-6" style="height: 100%">		
			<div class="panel panel-default" style="height: 100%">
  				<div class="panel-heading"><span class="{{electionData[selectedElection].textClass}} logo-medium">Progress</span></div>
  				<div class="panel-body progress-panel">
					<div class="progress">
						<div class="bar progress-bar {{electionData[selectedElection].progressBarClass}}" role="progressbar" aria-valuenow="{{electionData[selectedElection].numberCompleted}}" aria-valuemin="0" aria-valuemax="{{electionData[selectedElection].numberOfBallotBoxes}}" style="width:{{electionData[selectedElection].numberCompleted}}%" style="height: 40px;">{{electionData[selectedElection].numberCompleted}}% Complete</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="col-lg-6 col-md-6">		
			<div class="panel panel-default">
  				<div class="panel-heading"><span class="{{electionData[selectedElection].textClass}} logo-medium">Status</span></div>
  				<div class="panel-body status-panel">
					 <span class="logo-small text-warning">{{electionData[selectedElection].statusMessage}}</span>
				</div>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="panel panel-primary">
	  			<div class="panel-heading">
					<span class="glyphicon glyphicon-info-sign logo-small"></span>
	   				<h1>{{electionData[selectedElection].numberOfBallotBoxes}}</h1>
	   				<p>Total Number of Ballot Boxes</p>				  			
	  			</div>
	  			<div id="numberOfBallotBoxesFooter" class="panel-footer clickable" data-dialog="numberOfBallotBoxes">
					<a id="numberOfBallotBoxesAnchor">View Details<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
					<div class="clearfix"></div>
	  			</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3">		
			<div class="panel panel-success">
	  			<div class="panel-heading">
					<span class="glyphicon glyphicon-inbox logo-small"></span>
    				<h2>{{electionData[selectedElection].numberReceived}}</h2>
    				<p>Number Received</p>				  			
	  			</div>
	  			<div class="panel-footer clickable" data-dialog="numberReceived">
					<a>View Details<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
					<div class="clearfix"></div>
	  			</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3">		
			<div class="panel panel-info">
	  			<div class="panel-heading">
					<span class="glyphicon glyphicon-cog logo-small"></span>
    				<h2>{{electionData[selectedElection].numberInProgress}}</h2>
    				<p>Number in Progess</p>				  			
	  			</div>
	  			<div class="panel-footer clickable" data-dialog="numberInProgress">
					<a>View Details<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
					<div class="clearfix"></div>
	  			</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3">		
			<div class="panel panel-warning">
	  			<div class="panel-heading">
					<span class="glyphicon glyphicon glyphicon-check logo-small"></span>
    				<h2>{{electionData[selectedElection].numberCompleted}}</h2>
    				<p> Completed</p>				  			
	  			</div>
	  			<div class="panel-footer clickable" data-dialog="numberCompleted">
					<a>View Details<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
					<div class="clearfix"></div>
	  			</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3">		
			<div class="panel panel-danger">
	  			<div class="panel-heading">
					<span class="glyphicon glyphicon-alert logo-small"></span>
					<h2>{{electionData[selectedElection].numberAwaitingVerification}}</h2>
    				<p>Awaiting Verification</p>				  			
	  			</div>
	  			<div class="panel-footer clickable" data-dialog="numberAwaitingVerification">
					<a>View Details<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
					<div class="clearfix"></div>
	  			</div>
			</div>
		</div>
	</div>	
	<div id="electoralAreaDataDialogContainer">
	</div>
</div>