<div id="home" class="tab-pane fade in active">
    <div class="page-header">
		<span class="logo-medium">Analytics</span>
		<form class="form-inline pull-right">
		 	<div class="form-group">
				<label for="electionSelect">Select Election:</label>
		  		<select class="form-control input-medium" id="electionSelect" value="{{selectedElection}}" >
  				{{#each elections}}
	    			<option value="{{id}}">{{name}}</option>
				{{/each}}
		  		</select>
			</div>
		</form>		
	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="panel panel-primary">
	  			<div class="panel-heading">
					<span class="glyphicon glyphicon-info-sign logo-small"></span>
	   				<h1>{{electionData[selectedElection].numberOfBallotBoxes}}</h1>
	   				<p>Total Number of Ballot Boxes</p>				  			
	  			</div>
	  			<div class="panel-footer">
					<a>View Details<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
					<div class="clearfix"></div>
	  			</div>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-lg-3 col-md-3">		
			<div class="panel panel-success">
	  			<div class="panel-heading">
					<span class="glyphicon glyphicon-inbox logo-small"></span>
    				<h2>{{electionData[selectedElection].numberReceived}}</h2>
    				<p>Number Received</p>				  			
	  			</div>
	  			<div class="panel-footer">
					<a>View Details<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
					<div class="clearfix"></div>
	  			</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-3">		
			<div class="panel panel-info">
	  			<div class="panel-heading">
					<span class="glyphicon glyphicon-cog logo-small"></span>
    				<h2>{{electionData[selectedElection].numberInProgress}}</h2>
    				<p>Number in Progess</p>				  			
	  			</div>
	  			<div class="panel-footer">
					<a>View Details<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
					<div class="clearfix"></div>
	  			</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-3">		
			<div class="panel panel-warning">
	  			<div class="panel-heading">
					<span class="glyphicon glyphicon glyphicon-check logo-small"></span>
    				<h2>{{electionData[selectedElection].numberCompleted}}</h2>
    				<p> Completed</p>				  			
	  			</div>
	  			<div class="panel-footer">
					<a>View Details<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
					<div class="clearfix"></div>
	  			</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-3">		
			<div class="panel panel-danger">
	  			<div class="panel-heading">
					<span class="glyphicon glyphicon-alert logo-small"></span>
					<h2>{{electionData[selectedElection].numberAwaitingVerification}}</h2>
    				<p>Awaiting Verification</p>				  			
	  			</div>
	  			<div class="panel-footer">
					<a>View Details<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
					<div class="clearfix"></div>
	  			</div>
			</div>
		</div>
	</div>
</div>