<div id="home" class="tab-pane fade in active">
	<h1 class="page-header">Analytics</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<a><span class="glyphicon glyphicon-stats"></span> ANALYTICS</a>
 			<div class="pull-right">
 				<div class="btn-group">
					<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Election <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#">Election 1</a></li>
						<li><a href="#">Election 2</a></li>
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>			
		</div>
		<div class="panel-body">

			<div class="row">
				<div class="col-lg-2 col-md-2 col-md-offset-1">		
					<div class="panel panel-primary">
			  			<div class="panel-heading">
							<span class="glyphicon glyphicon-info-sign logo-small"></span>
      						<h2>100</h2>
      						<p>Number of Ballot Boxes</p>
			  			</div>
			  			<div class="panel-footer">
							<a>View Details<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				<div class="col-lg-2 col-md-2">		
					<div class="panel panel-success">
			  			<div class="panel-heading">
							<span class="glyphicon glyphicon-inbox logo-small"></span>
      						<h2>75</h2>
      						<p>Number Received</p>				  			
			  			</div>
			  			<div class="panel-footer">
							<a>View Details<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
							<div class="clearfix"></div>
			  			</div>
					</div>
				</div>
		
				<div class="col-lg-2 col-md-2">		
					<div class="panel panel-info">
			  			<div class="panel-heading">
							<span class="glyphicon glyphicon-cog logo-small"></span>
      						<h2>60</h2>
      						<p>Number in Progess</p>				  			
			  			</div>
			  			<div class="panel-footer">
							<a>View Details<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
							<div class="clearfix"></div>
			  			</div>
					</div>
				</div>
		
				<div class="col-lg-2 col-md-2">		
					<div class="panel panel-warning">
			  			<div class="panel-heading">
							<span class="glyphicon glyphicon glyphicon-check logo-small"></span>
      						<h2>10</h2>
      						<p> Completed</p>				  			
			  			</div>
			  			<div class="panel-footer">
							<a>View Details<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
							<div class="clearfix"></div>
			  			</div>
					</div>
				</div>
		
				<div class="col-lg-2 col-md-2">		
					<div class="panel panel-danger">
			  			<div class="panel-heading">
							<span class="glyphicon glyphicon-alert logo-small"></span>
      						<h2>5</h2>
      						<p>Awaiting Verification</p>				  			
			  			</div>
			  			<div class="panel-footer">
							<a>View Details<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
							<div class="clearfix"></div>
			  			</div>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</div>


<!-- <div class="pull-right">
<div class="btn-group">
<button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
<ul class="dropdown-menu pull-right" role="menu">
</div>
</div> -->