<div id="template">
    <div class="page-header">
		<span class="logo-medium">Ballot Box Count</span>		
		<form class="form-inline pull-right">
		 	<div class="form-group">
				<label for="electionSelect">Select Election:</label>
		  		<select class="form-control input-medium" id="electionSelect" value="{{selectedElection}}" >
  				{{#each elections}}
	    			<option value="{{id}}">{{name}}</option>
				{{/each}}
		  		</select>
			</div>
		</form>		
	</div>
	<div class="panel panel-default">
		<div class="panel-body">	
			<form class="form-inline">	
			 	<div class="form-group form-group-sm">
					<label for="electionSelect">Electoral Area: </label>
					<select class="form-control input-medium" id="electoralAreaSelect" value='{{ballotBoxCountScreenElectoralArea}}'>
  						{{#each electionData[selectedElection].electoralAreas}}
	    					<option value="{{.}}">{{.}}</option>
						{{/each}}
		  			</select>
				</div>
				<div class="form-group form-group-sm">
					<label for="ballotBoxSelect">Ballot Box: </label>
			  		<select id="ballotBoxSelect" class="form-control" value='{{ballotBoxCountScreenBallotBoxNumber}}'>
  						{{#each ballotBoxCountScreenBallotBoxes}}
	    					<option value="{{.}}">{{.}}</option>							
						{{/each}}
			  		</select>
				</div>
			</form>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
 			<table id="ballotBoxCountTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Count Total</th>
						<th>Matches BPA</th>
					</tr>
				</thead>
				<tbody>				
				</tbody>
			</table>
		</div>
	</div>
	<div id="ballotBoxCountDialogContainer">
	</div>
		
 </div>