<div id="template">
    <div class="page-header">
		<span class="logo-medium">Ballot Paper Account</span>
		<form class="form-inline pull-right">
		 	<div class="form-group">
		  		<select class="form-control input-medium" id="electionSelect" value="{{selectedElection}}" >
  				{{#each elections}}
	    			<option value="{{id}}">{{name}}</option>
				{{/each}}
		  		</select>
			</div>
		</form>	
		<div class="clearfix"></div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="panel-body">
				<table id="ballotPaperAccountTbl" class="table table-striped table-bordered dt-responsive table-condensed nowrap" cellspacing="0" width="100%">
					<thead>
						<tr>
 							<th>Electoral Area</th>
 							<th>Polling Station</th>							
 							<th>Box No</th>
							<th>Total Ordinary Ballots</th>
							<th>Next Serial Number</th>
							<th>First Serial Number</th>
							<th>Total issued</th>
							<th>Spoilt Replacements</th>
							<th>Issued and not spoilt</th>
							<th>Total unused </th>
							<th>Tendered ballots</th>
							<th>Total Marked</th>
							<th>Total spoilt</th>
							<th>Unused tendered</th>
							<th>Postal Early</th>
							<th>Postal Sweep</th>	
							<th>Postal Late</th>					
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	
	<div id="ballotPaperAccountDialogContainer">
	</div>
</div>
