<div id="template">
    <div class="page-header">
		<span class="logo-medium">Ballot Box Verification</span>		
		<form class="form-inline pull-right">
		 	<div class="form-group">
				<label for="electionSelect">Select Election:</label>
		  		<select class="form-control input-medium" id="electionSelect" value="{{selectedElection}}" >
  				{{#each elections}}
	    			<option value="{{id}}">{{name}}</option>
				{{/each}}
		  		</select>
			</div>
		</form>		
	</div>
	
	
	<div id="verificationDialogContainer">
	</div>
		
 </div>